@model UserMgmtSystem.Models.User

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-12 text-center"> <img src="https://images.squarespace-cdn.com/content/v1/54f60130e4b0261da7721f6e/1521513965534-969MXRVZ76K2D3G5QUI3/ke17ZwdGBToddI8pDm48kOMslC08UqTescu250e2yIBZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpwjioxzchJMK1kpX8l0Y6UwXMNOeubKY8Q4zAxLkkOX-K55cM9VsD2r_sh4zwPWaug/Individual-Member-Icon.gif" style="width:80px; height:80px" /> <h1 style="vertical-align:central">Create User</h1>   </div>
    
</div>

<hr />
<div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-warning" />
            </div>
        </form>
    </div>
    <div class="col-md-4"> </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
