<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UserMgmtSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="css/card.css">

<style>

.aarjav_card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    min-height: 360px;
	background-color: #fff !important;
}

.aarjav_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.aarjav_card img{max-width: 100%;
   display: block;
    margin-left: auto;
    margin-right: auto;
    }

.footer{
    background-color:#696969;
    color:white;
 }
				
</style>
</head>
<body>


    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Users" asp-action="Index"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyrNdbfNhkuxi5BciGQB2XyYlpXYaxHEzw75cAKfkQPerY83YbeQ&s" style="width:80px;height:80px;" /> ABC Imports Inc.</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Home</a>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    
    <div class="boxy">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

       <footer class="border-top footer">
        <div class="container">
            &copy; 2019 - ABC Imports Inc. 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
